--
-- PostgreSQL database dump
--

\restrict 5IjYNIFYfLIAETiJqpBGegjuzSvIiy83HxBkmfJqrdFfyHFWcEWbot5lf2b0DcW

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: hangfire; Type: SCHEMA; Schema: -; Owner: polymind
--

CREATE SCHEMA hangfire;


ALTER SCHEMA hangfire OWNER TO polymind;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aggregatedcounter; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.aggregatedcounter (
    id bigint NOT NULL,
    key text NOT NULL,
    value bigint NOT NULL,
    expireat timestamp with time zone
);


ALTER TABLE hangfire.aggregatedcounter OWNER TO polymind;

--
-- Name: aggregatedcounter_id_seq; Type: SEQUENCE; Schema: hangfire; Owner: polymind
--

CREATE SEQUENCE hangfire.aggregatedcounter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE hangfire.aggregatedcounter_id_seq OWNER TO polymind;

--
-- Name: aggregatedcounter_id_seq; Type: SEQUENCE OWNED BY; Schema: hangfire; Owner: polymind
--

ALTER SEQUENCE hangfire.aggregatedcounter_id_seq OWNED BY hangfire.aggregatedcounter.id;


--
-- Name: counter; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.counter (
    id bigint NOT NULL,
    key text NOT NULL,
    value bigint NOT NULL,
    expireat timestamp with time zone
);


ALTER TABLE hangfire.counter OWNER TO polymind;

--
-- Name: counter_id_seq; Type: SEQUENCE; Schema: hangfire; Owner: polymind
--

CREATE SEQUENCE hangfire.counter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE hangfire.counter_id_seq OWNER TO polymind;

--
-- Name: counter_id_seq; Type: SEQUENCE OWNED BY; Schema: hangfire; Owner: polymind
--

ALTER SEQUENCE hangfire.counter_id_seq OWNED BY hangfire.counter.id;


--
-- Name: hash; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.hash (
    id bigint NOT NULL,
    key text NOT NULL,
    field text NOT NULL,
    value text,
    expireat timestamp with time zone,
    updatecount integer DEFAULT 0 NOT NULL
);


ALTER TABLE hangfire.hash OWNER TO polymind;

--
-- Name: hash_id_seq; Type: SEQUENCE; Schema: hangfire; Owner: polymind
--

CREATE SEQUENCE hangfire.hash_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE hangfire.hash_id_seq OWNER TO polymind;

--
-- Name: hash_id_seq; Type: SEQUENCE OWNED BY; Schema: hangfire; Owner: polymind
--

ALTER SEQUENCE hangfire.hash_id_seq OWNED BY hangfire.hash.id;


--
-- Name: job; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.job (
    id bigint NOT NULL,
    stateid bigint,
    statename text,
    invocationdata jsonb NOT NULL,
    arguments jsonb NOT NULL,
    createdat timestamp with time zone NOT NULL,
    expireat timestamp with time zone,
    updatecount integer DEFAULT 0 NOT NULL
);


ALTER TABLE hangfire.job OWNER TO polymind;

--
-- Name: job_id_seq; Type: SEQUENCE; Schema: hangfire; Owner: polymind
--

CREATE SEQUENCE hangfire.job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE hangfire.job_id_seq OWNER TO polymind;

--
-- Name: job_id_seq; Type: SEQUENCE OWNED BY; Schema: hangfire; Owner: polymind
--

ALTER SEQUENCE hangfire.job_id_seq OWNED BY hangfire.job.id;


--
-- Name: jobparameter; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.jobparameter (
    id bigint NOT NULL,
    jobid bigint NOT NULL,
    name text NOT NULL,
    value text,
    updatecount integer DEFAULT 0 NOT NULL
);


ALTER TABLE hangfire.jobparameter OWNER TO polymind;

--
-- Name: jobparameter_id_seq; Type: SEQUENCE; Schema: hangfire; Owner: polymind
--

CREATE SEQUENCE hangfire.jobparameter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE hangfire.jobparameter_id_seq OWNER TO polymind;

--
-- Name: jobparameter_id_seq; Type: SEQUENCE OWNED BY; Schema: hangfire; Owner: polymind
--

ALTER SEQUENCE hangfire.jobparameter_id_seq OWNED BY hangfire.jobparameter.id;


--
-- Name: jobqueue; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.jobqueue (
    id bigint NOT NULL,
    jobid bigint NOT NULL,
    queue text NOT NULL,
    fetchedat timestamp with time zone,
    updatecount integer DEFAULT 0 NOT NULL
);


ALTER TABLE hangfire.jobqueue OWNER TO polymind;

--
-- Name: jobqueue_id_seq; Type: SEQUENCE; Schema: hangfire; Owner: polymind
--

CREATE SEQUENCE hangfire.jobqueue_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE hangfire.jobqueue_id_seq OWNER TO polymind;

--
-- Name: jobqueue_id_seq; Type: SEQUENCE OWNED BY; Schema: hangfire; Owner: polymind
--

ALTER SEQUENCE hangfire.jobqueue_id_seq OWNED BY hangfire.jobqueue.id;


--
-- Name: list; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.list (
    id bigint NOT NULL,
    key text NOT NULL,
    value text,
    expireat timestamp with time zone,
    updatecount integer DEFAULT 0 NOT NULL
);


ALTER TABLE hangfire.list OWNER TO polymind;

--
-- Name: list_id_seq; Type: SEQUENCE; Schema: hangfire; Owner: polymind
--

CREATE SEQUENCE hangfire.list_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE hangfire.list_id_seq OWNER TO polymind;

--
-- Name: list_id_seq; Type: SEQUENCE OWNED BY; Schema: hangfire; Owner: polymind
--

ALTER SEQUENCE hangfire.list_id_seq OWNED BY hangfire.list.id;


--
-- Name: lock; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.lock (
    resource text NOT NULL,
    updatecount integer DEFAULT 0 NOT NULL,
    acquired timestamp with time zone
);


ALTER TABLE hangfire.lock OWNER TO polymind;

--
-- Name: schema; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.schema (
    version integer NOT NULL
);


ALTER TABLE hangfire.schema OWNER TO polymind;

--
-- Name: server; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.server (
    id text NOT NULL,
    data jsonb,
    lastheartbeat timestamp with time zone NOT NULL,
    updatecount integer DEFAULT 0 NOT NULL
);


ALTER TABLE hangfire.server OWNER TO polymind;

--
-- Name: set; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.set (
    id bigint NOT NULL,
    key text NOT NULL,
    score double precision NOT NULL,
    value text NOT NULL,
    expireat timestamp with time zone,
    updatecount integer DEFAULT 0 NOT NULL
);


ALTER TABLE hangfire.set OWNER TO polymind;

--
-- Name: set_id_seq; Type: SEQUENCE; Schema: hangfire; Owner: polymind
--

CREATE SEQUENCE hangfire.set_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE hangfire.set_id_seq OWNER TO polymind;

--
-- Name: set_id_seq; Type: SEQUENCE OWNED BY; Schema: hangfire; Owner: polymind
--

ALTER SEQUENCE hangfire.set_id_seq OWNED BY hangfire.set.id;


--
-- Name: state; Type: TABLE; Schema: hangfire; Owner: polymind
--

CREATE TABLE hangfire.state (
    id bigint NOT NULL,
    jobid bigint NOT NULL,
    name text NOT NULL,
    reason text,
    createdat timestamp with time zone NOT NULL,
    data jsonb,
    updatecount integer DEFAULT 0 NOT NULL
);


ALTER TABLE hangfire.state OWNER TO polymind;

--
-- Name: state_id_seq; Type: SEQUENCE; Schema: hangfire; Owner: polymind
--

CREATE SEQUENCE hangfire.state_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE hangfire.state_id_seq OWNER TO polymind;

--
-- Name: state_id_seq; Type: SEQUENCE OWNED BY; Schema: hangfire; Owner: polymind
--

ALTER SEQUENCE hangfire.state_id_seq OWNED BY hangfire.state.id;


--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public."AspNetRoleClaims" (
    id integer NOT NULL,
    role_id uuid NOT NULL,
    claim_type text,
    claim_value text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO polymind;

--
-- Name: AspNetRoleClaims_id_seq; Type: SEQUENCE; Schema: public; Owner: polymind
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public."AspNetUserClaims" (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    claim_type text,
    claim_value text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO polymind;

--
-- Name: AspNetUserClaims_id_seq; Type: SEQUENCE; Schema: public; Owner: polymind
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public."AspNetUserLogins" (
    login_provider text NOT NULL,
    provider_key text NOT NULL,
    provider_display_name text,
    user_id uuid NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO polymind;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public."AspNetUserRoles" (
    user_id uuid NOT NULL,
    role_id uuid NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO polymind;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public."AspNetUserTokens" (
    user_id uuid NOT NULL,
    login_provider text NOT NULL,
    name text NOT NULL,
    value text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO polymind;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public."__EFMigrationsHistory" (
    migration_id character varying(150) NOT NULL,
    product_version character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO polymind;

--
-- Name: agent_commission_configs; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.agent_commission_configs (
    id uuid NOT NULL,
    agent_id uuid NOT NULL,
    job_order_id uuid,
    country text,
    milestone text NOT NULL,
    percentage numeric(5,2),
    fixed_amount numeric(15,2),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.agent_commission_configs OWNER TO polymind;

--
-- Name: agent_commissions; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.agent_commissions (
    id uuid NOT NULL,
    agent_id uuid NOT NULL,
    candidate_id uuid NOT NULL,
    job_order_id uuid NOT NULL,
    config_id uuid,
    milestone text NOT NULL,
    base_amount numeric(15,2) NOT NULL,
    commission_amount numeric(15,2) NOT NULL,
    status text NOT NULL,
    paid_date date,
    receipt_id uuid,
    approved_by uuid,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.agent_commissions OWNER TO polymind;

--
-- Name: agents; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.agents (
    id uuid NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    representative_name text,
    phone text,
    email text,
    address text,
    bank_account_number text,
    bank_name text,
    bank_account_name text,
    contract_url text,
    is_active boolean NOT NULL,
    user_id uuid,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.agents OWNER TO polymind;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    user_id uuid,
    action text NOT NULL,
    resource text NOT NULL,
    resource_id uuid,
    old_value jsonb,
    new_value jsonb,
    ip_address text,
    user_agent text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO polymind;

--
-- Name: candidate_documents; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.candidate_documents (
    id uuid NOT NULL,
    candidate_id uuid NOT NULL,
    doc_type text NOT NULL,
    current_version_id uuid,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.candidate_documents OWNER TO polymind;

--
-- Name: candidate_job_orders; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.candidate_job_orders (
    id uuid NOT NULL,
    candidate_id uuid NOT NULL,
    job_order_id uuid NOT NULL,
    current_step text NOT NULL,
    status text NOT NULL,
    assigned_to uuid,
    notes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.candidate_job_orders OWNER TO polymind;

--
-- Name: candidates; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.candidates (
    id uuid NOT NULL,
    code text NOT NULL,
    lead_id uuid,
    full_name text NOT NULL,
    cccd_number text,
    cccd_issue_date date,
    cccd_issue_place text,
    passport_number text,
    passport_expiry date,
    dob date,
    gender text,
    address text,
    province text,
    marital_status text,
    phone text,
    emergency_contact_name text,
    emergency_contact_phone text,
    emergency_contact_relation text,
    bank_account_number text,
    bank_name text,
    bank_account_name text,
    agent_id uuid,
    created_by uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    education_level text,
    email text,
    languages text,
    occupation text,
    work_experience text,
    guardian_address text,
    guardian_cccd text,
    guardian_name text,
    guardian_occupation text,
    guardian_phone text,
    guardian_relation text,
    collaborator_id uuid,
    consultant_id uuid
);


ALTER TABLE public.candidates OWNER TO polymind;

--
-- Name: collaborators; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.collaborators (
    id uuid NOT NULL,
    code text NOT NULL,
    full_name text NOT NULL,
    phone text,
    email text,
    address text,
    note text,
    agent_id uuid NOT NULL,
    is_active boolean NOT NULL,
    user_id uuid,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.collaborators OWNER TO polymind;

--
-- Name: document_versions; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.document_versions (
    id uuid NOT NULL,
    document_id uuid NOT NULL,
    version_number integer NOT NULL,
    file_url text NOT NULL,
    file_name text NOT NULL,
    file_size bigint NOT NULL,
    mime_type text,
    uploaded_by uuid NOT NULL,
    notes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.document_versions OWNER TO polymind;

--
-- Name: expenses; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.expenses (
    id uuid NOT NULL,
    code text NOT NULL,
    category text NOT NULL,
    amount numeric(15,2) NOT NULL,
    description text,
    expense_date date NOT NULL,
    receipt_id uuid,
    created_by uuid NOT NULL,
    approved_by uuid,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.expenses OWNER TO polymind;

--
-- Name: flights; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.flights (
    id uuid NOT NULL,
    candidate_id uuid NOT NULL,
    job_order_id uuid NOT NULL,
    airline text,
    ticket_code text,
    departure_date date,
    departure_time time without time zone,
    departure_airport text,
    destination_country text,
    destination_airport text,
    actual_departure_at timestamp with time zone,
    assigned_to uuid,
    notes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.flights OWNER TO polymind;

--
-- Name: job_orders; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.job_orders (
    id uuid NOT NULL,
    code text NOT NULL,
    country text NOT NULL,
    union_name text,
    company_name text,
    field text,
    quantity integer NOT NULL,
    salary_description text,
    cost_amount numeric(15,2),
    requirements text,
    recruitment_start_date date,
    expected_departure_date date,
    status text NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    benefits text,
    bonus text
);


ALTER TABLE public.job_orders OWNER TO polymind;

--
-- Name: lead_activities; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.lead_activities (
    id uuid NOT NULL,
    lead_id uuid NOT NULL,
    activity_type text NOT NULL,
    content text,
    old_status text,
    new_status text,
    created_by uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.lead_activities OWNER TO polymind;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.leads (
    id uuid NOT NULL,
    code text NOT NULL,
    full_name text NOT NULL,
    dob date,
    gender text,
    cccd text,
    phone text,
    email text,
    address text,
    province text,
    occupation text,
    education_level text,
    work_experience text,
    languages text,
    target_country text,
    interested_job_order_id uuid,
    source text NOT NULL,
    agent_id uuid,
    assigned_to uuid,
    status text NOT NULL,
    notes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    appointment_at timestamp with time zone,
    collaborator_id uuid
);


ALTER TABLE public.leads OWNER TO polymind;

--
-- Name: loans; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.loans (
    id uuid NOT NULL,
    code text NOT NULL,
    candidate_id uuid NOT NULL,
    status text NOT NULL,
    amount numeric(15,2),
    term_months integer,
    bank_name text,
    interest_rate numeric(5,2),
    disbursed_date date,
    note text,
    created_by uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.loans OWNER TO polymind;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.messages (
    id uuid NOT NULL,
    sender_id uuid NOT NULL,
    recipient_id uuid NOT NULL,
    body text NOT NULL,
    is_read boolean NOT NULL,
    read_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.messages OWNER TO polymind;

--
-- Name: notification_preferences; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.notification_preferences (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    type text NOT NULL,
    in_app_enabled boolean NOT NULL,
    email_enabled boolean NOT NULL,
    sms_enabled boolean NOT NULL,
    zalo_enabled boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.notification_preferences OWNER TO polymind;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    body text,
    channel text NOT NULL,
    is_read boolean NOT NULL,
    reference_type text,
    reference_id uuid,
    sent_at timestamp with time zone,
    read_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.notifications OWNER TO polymind;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.payments (
    id uuid NOT NULL,
    code text NOT NULL,
    candidate_id uuid NOT NULL,
    job_order_id uuid,
    payment_type text NOT NULL,
    amount numeric(15,2) NOT NULL,
    due_date date,
    paid_date date,
    status text NOT NULL,
    payment_method text,
    receipt_id uuid,
    notes text,
    created_by uuid NOT NULL,
    approved_by uuid,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    stage text
);


ALTER TABLE public.payments OWNER TO polymind;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.permissions (
    id uuid NOT NULL,
    name text NOT NULL,
    resource text NOT NULL,
    action text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.permissions OWNER TO polymind;

--
-- Name: receipts; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.receipts (
    id uuid NOT NULL,
    code text NOT NULL,
    receipt_type text NOT NULL,
    candidate_id uuid,
    agent_id uuid,
    amount numeric(15,2) NOT NULL,
    description text,
    receipt_date date NOT NULL,
    pdf_url text,
    signed_by uuid,
    created_by uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    expense_id uuid,
    payment_id uuid
);


ALTER TABLE public.receipts OWNER TO polymind;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.role_permissions (
    role_id uuid NOT NULL,
    permission_id uuid NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO polymind;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.roles (
    id uuid NOT NULL,
    description text,
    name character varying(256),
    normalized_name character varying(256),
    concurrency_stamp text
);


ALTER TABLE public.roles OWNER TO polymind;

--
-- Name: users; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    full_name text NOT NULL,
    is_active boolean NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    user_name character varying(256),
    normalized_user_name character varying(256),
    email character varying(256),
    normalized_email character varying(256),
    email_confirmed boolean NOT NULL,
    password_hash text,
    security_stamp text,
    concurrency_stamp text,
    phone_number text,
    phone_number_confirmed boolean NOT NULL,
    two_factor_enabled boolean NOT NULL,
    lockout_end timestamp with time zone,
    lockout_enabled boolean NOT NULL,
    access_failed_count integer NOT NULL
);


ALTER TABLE public.users OWNER TO polymind;

--
-- Name: visas; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.visas (
    id uuid NOT NULL,
    candidate_id uuid NOT NULL,
    job_order_id uuid NOT NULL,
    visa_type text,
    country text NOT NULL,
    submitted_date date,
    interview_date date,
    result_date date,
    status text NOT NULL,
    rejection_reason text,
    notes text,
    handled_by uuid,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.visas OWNER TO polymind;

--
-- Name: workflow_step_records; Type: TABLE; Schema: public; Owner: polymind
--

CREATE TABLE public.workflow_step_records (
    id uuid NOT NULL,
    candidate_job_order_id uuid NOT NULL,
    step text NOT NULL,
    status text NOT NULL,
    assigned_to uuid,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    notes text,
    created_by uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.workflow_step_records OWNER TO polymind;

--
-- Name: aggregatedcounter id; Type: DEFAULT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.aggregatedcounter ALTER COLUMN id SET DEFAULT nextval('hangfire.aggregatedcounter_id_seq'::regclass);


--
-- Name: counter id; Type: DEFAULT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.counter ALTER COLUMN id SET DEFAULT nextval('hangfire.counter_id_seq'::regclass);


--
-- Name: hash id; Type: DEFAULT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.hash ALTER COLUMN id SET DEFAULT nextval('hangfire.hash_id_seq'::regclass);


--
-- Name: job id; Type: DEFAULT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.job ALTER COLUMN id SET DEFAULT nextval('hangfire.job_id_seq'::regclass);


--
-- Name: jobparameter id; Type: DEFAULT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.jobparameter ALTER COLUMN id SET DEFAULT nextval('hangfire.jobparameter_id_seq'::regclass);


--
-- Name: jobqueue id; Type: DEFAULT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.jobqueue ALTER COLUMN id SET DEFAULT nextval('hangfire.jobqueue_id_seq'::regclass);


--
-- Name: list id; Type: DEFAULT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.list ALTER COLUMN id SET DEFAULT nextval('hangfire.list_id_seq'::regclass);


--
-- Name: set id; Type: DEFAULT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.set ALTER COLUMN id SET DEFAULT nextval('hangfire.set_id_seq'::regclass);


--
-- Name: state id; Type: DEFAULT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.state ALTER COLUMN id SET DEFAULT nextval('hangfire.state_id_seq'::regclass);


--
-- Data for Name: aggregatedcounter; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--



--
-- Data for Name: counter; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--

COPY hangfire.counter (id, key, value, expireat) FROM stdin;
1351	stats:succeeded:2026-06-29	1	2026-07-29 09:50:09.487868+00
1352	stats:succeeded:2026-06-29-09	1	2026-06-30 09:50:10.487868+00
1353	stats:succeeded	1	\N
\.


--
-- Data for Name: hash; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--



--
-- Data for Name: job; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--



--
-- Data for Name: jobparameter; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--



--
-- Data for Name: jobqueue; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--

COPY hangfire.jobqueue (id, jobid, queue, fetchedat, updatecount) FROM stdin;
\.


--
-- Data for Name: list; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--

COPY hangfire.list (id, key, value, expireat, updatecount) FROM stdin;
\.


--
-- Data for Name: lock; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--

COPY hangfire.lock (resource, updatecount, acquired) FROM stdin;
\.


--
-- Data for Name: schema; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--

COPY hangfire.schema (version) FROM stdin;
23
\.


--
-- Data for Name: server; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--

COPY hangfire.server (id, data, lastheartbeat, updatecount) FROM stdin;
bananakhang:46784:50b33435-6cb1-4e47-a87a-0d324b12f548	{"Queues": ["default"], "StartedAt": "2026-06-29T08:16:19.3731198Z", "WorkerCount": 20}	2026-06-29 09:50:21.349991+00	0
\.


--
-- Data for Name: set; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--

COPY hangfire.set (id, key, score, value, expireat, updatecount) FROM stdin;
1	recurring-jobs	1782726900	polymind-notification-reminders	\N	0
\.


--
-- Data for Name: state; Type: TABLE DATA; Schema: hangfire; Owner: polymind
--



--
-- Data for Name: AspNetRoleClaims; Type: TABLE DATA; Schema: public; Owner: polymind
--

COPY public."AspNetRoleClaims" (id, role_id, claim_type, claim_value) FROM stdin;
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: polymind
--

COPY public."AspNetUserClaims" (id, user_id, claim_type, claim_value) FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: polymind
--

COPY public."AspNetUserLogins" (login_provider, provider_key, provider_display_name, user_id) FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: AspNetUserTokens; Type: TABLE DATA; Schema: public; Owner: polymind
--

COPY public."AspNetUserTokens" (user_id, login_provider, name, value) FROM stdin;
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: polymind
--

COPY public."__EFMigrationsHistory" (migration_id, product_version) FROM stdin;
20260624034033_InitialCreate	10.0.9
20260624142611_AddReceiptSourceLinks	10.0.9
20260624143355_AddLeadAppointment	10.0.9
20260624151810_AddNotificationPreferencesAndHangfire	10.0.9
20260625080334_AddCandidateProfileFields	10.0.9
20260625164322_AddCandidateGuardianFields	10.0.9
20260626081909_AddCollaboratorMessageJobBenefits	10.0.9
20260627061617_AddConsultantAndLeadReferral	10.0.9
20260627064105_AddPaymentStage	10.0.9
20260627134001_AddLoan	10.0.9
\.


--
-- Data for Name: agent_commission_configs; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: agent_commissions; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: agents; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: candidate_documents; Type: TABLE DATA; Schema: public; Owner: polymind
--

COPY public.candidate_documents (id, candidate_id, doc_type, current_version_id, created_at, updated_at) FROM stdin;
90003dc0-20d4-4e00-b16d-0335319f9620	0644df67-36ad-4595-ae77-39926cd2e8e6	Cccd	9763cf67-2246-43c7-b0cb-98dbaa20a539	2026-06-24 15:49:32.322663+00	2026-06-24 15:49:32.400784+00
c6d639f9-9d1d-47d2-adf9-42c79f01bd0a	ca42a32a-c61b-4f92-a2b7-0697e0a26e24	Cccd	108e58be-6945-43cf-b134-90fcad51ed71	2026-06-29 07:07:24.614347+00	2026-06-29 07:07:24.678631+00
\.


--
-- Data for Name: candidate_job_orders; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: candidates; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: collaborators; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: document_versions; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: polymind
--

COPY public.expenses (id, code, category, amount, description, expense_date, receipt_id, created_by, approved_by, created_at, updated_at) FROM stdin;
679d2fe6-2f56-497f-8759-803ab1b7156a	EX-20260629-4553	Marketing	15000000.00	sß║┐p bß║»t l├ám content ─æß╗â viral	2026-06-29	\N	019ef7b8-c87b-705f-aecb-05cfc3c92827	\N	2026-06-29 01:56:18.315121+00	2026-06-29 01:56:18.315122+00
\.


--
-- Data for Name: flights; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: job_orders; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: lead_activities; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: loans; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: notification_preferences; Type: TABLE DATA; Schema: public; Owner: polymind
--

COPY public.notification_preferences (id, user_id, type, in_app_enabled, email_enabled, sms_enabled, zalo_enabled, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: receipts; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: visas; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Data for Name: workflow_step_records; Type: TABLE DATA; Schema: public; Owner: polymind
--



--
-- Name: aggregatedcounter_id_seq; Type: SEQUENCE SET; Schema: hangfire; Owner: polymind
--

SELECT pg_catalog.setval('hangfire.aggregatedcounter_id_seq', 1357, true);


--
-- Name: counter_id_seq; Type: SEQUENCE SET; Schema: hangfire; Owner: polymind
--

SELECT pg_catalog.setval('hangfire.counter_id_seq', 1353, true);


--
-- Name: hash_id_seq; Type: SEQUENCE SET; Schema: hangfire; Owner: polymind
--

SELECT pg_catalog.setval('hangfire.hash_id_seq', 9, true);


--
-- Name: job_id_seq; Type: SEQUENCE SET; Schema: hangfire; Owner: polymind
--

SELECT pg_catalog.setval('hangfire.job_id_seq', 535, true);


--
-- Name: jobparameter_id_seq; Type: SEQUENCE SET; Schema: hangfire; Owner: polymind
--

SELECT pg_catalog.setval('hangfire.jobparameter_id_seq', 1341, true);


--
-- Name: jobqueue_id_seq; Type: SEQUENCE SET; Schema: hangfire; Owner: polymind
--

SELECT pg_catalog.setval('hangfire.jobqueue_id_seq', 535, true);


--
-- Name: list_id_seq; Type: SEQUENCE SET; Schema: hangfire; Owner: polymind
--

SELECT pg_catalog.setval('hangfire.list_id_seq', 1, false);


--
-- Name: set_id_seq; Type: SEQUENCE SET; Schema: hangfire; Owner: polymind
--

SELECT pg_catalog.setval('hangfire.set_id_seq', 536, true);


--
-- Name: state_id_seq; Type: SEQUENCE SET; Schema: hangfire; Owner: polymind
--

SELECT pg_catalog.setval('hangfire.state_id_seq', 1341, true);


--
-- Name: AspNetRoleClaims_id_seq; Type: SEQUENCE SET; Schema: public; Owner: polymind
--

SELECT pg_catalog.setval('public."AspNetRoleClaims_id_seq"', 1, false);


--
-- Name: AspNetUserClaims_id_seq; Type: SEQUENCE SET; Schema: public; Owner: polymind
--

SELECT pg_catalog.setval('public."AspNetUserClaims_id_seq"', 1, false);


--
-- Name: aggregatedcounter aggregatedcounter_key_key; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.aggregatedcounter
    ADD CONSTRAINT aggregatedcounter_key_key UNIQUE (key);


--
-- Name: aggregatedcounter aggregatedcounter_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.aggregatedcounter
    ADD CONSTRAINT aggregatedcounter_pkey PRIMARY KEY (id);


--
-- Name: counter counter_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.counter
    ADD CONSTRAINT counter_pkey PRIMARY KEY (id);


--
-- Name: hash hash_key_field_key; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.hash
    ADD CONSTRAINT hash_key_field_key UNIQUE (key, field);


--
-- Name: hash hash_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.hash
    ADD CONSTRAINT hash_pkey PRIMARY KEY (id);


--
-- Name: job job_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.job
    ADD CONSTRAINT job_pkey PRIMARY KEY (id);


--
-- Name: jobparameter jobparameter_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.jobparameter
    ADD CONSTRAINT jobparameter_pkey PRIMARY KEY (id);


--
-- Name: jobqueue jobqueue_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.jobqueue
    ADD CONSTRAINT jobqueue_pkey PRIMARY KEY (id);


--
-- Name: list list_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.list
    ADD CONSTRAINT list_pkey PRIMARY KEY (id);


--
-- Name: lock lock_resource_key; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.lock
    ADD CONSTRAINT lock_resource_key UNIQUE (resource);

ALTER TABLE ONLY hangfire.lock REPLICA IDENTITY USING INDEX lock_resource_key;


--
-- Name: schema schema_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.schema
    ADD CONSTRAINT schema_pkey PRIMARY KEY (version);


--
-- Name: server server_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.server
    ADD CONSTRAINT server_pkey PRIMARY KEY (id);


--
-- Name: set set_key_value_key; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.set
    ADD CONSTRAINT set_key_value_key UNIQUE (key, value);


--
-- Name: set set_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.set
    ADD CONSTRAINT set_pkey PRIMARY KEY (id);


--
-- Name: state state_pkey; Type: CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.state
    ADD CONSTRAINT state_pkey PRIMARY KEY (id);


--
-- Name: __EFMigrationsHistory pk___ef_migrations_history; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT pk___ef_migrations_history PRIMARY KEY (migration_id);


--
-- Name: agent_commission_configs pk_agent_commission_configs; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.agent_commission_configs
    ADD CONSTRAINT pk_agent_commission_configs PRIMARY KEY (id);


--
-- Name: agent_commissions pk_agent_commissions; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.agent_commissions
    ADD CONSTRAINT pk_agent_commissions PRIMARY KEY (id);


--
-- Name: agents pk_agents; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT pk_agents PRIMARY KEY (id);


--
-- Name: AspNetRoleClaims pk_asp_net_role_claims; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT pk_asp_net_role_claims PRIMARY KEY (id);


--
-- Name: AspNetUserClaims pk_asp_net_user_claims; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT pk_asp_net_user_claims PRIMARY KEY (id);


--
-- Name: AspNetUserLogins pk_asp_net_user_logins; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT pk_asp_net_user_logins PRIMARY KEY (login_provider, provider_key);


--
-- Name: AspNetUserRoles pk_asp_net_user_roles; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT pk_asp_net_user_roles PRIMARY KEY (user_id, role_id);


--
-- Name: AspNetUserTokens pk_asp_net_user_tokens; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT pk_asp_net_user_tokens PRIMARY KEY (user_id, login_provider, name);


--
-- Name: audit_logs pk_audit_logs; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT pk_audit_logs PRIMARY KEY (id);


--
-- Name: candidate_documents pk_candidate_documents; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.candidate_documents
    ADD CONSTRAINT pk_candidate_documents PRIMARY KEY (id);


--
-- Name: candidate_job_orders pk_candidate_job_orders; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.candidate_job_orders
    ADD CONSTRAINT pk_candidate_job_orders PRIMARY KEY (id);


--
-- Name: candidates pk_candidates; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT pk_candidates PRIMARY KEY (id);


--
-- Name: collaborators pk_collaborators; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.collaborators
    ADD CONSTRAINT pk_collaborators PRIMARY KEY (id);


--
-- Name: document_versions pk_document_versions; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT pk_document_versions PRIMARY KEY (id);


--
-- Name: expenses pk_expenses; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT pk_expenses PRIMARY KEY (id);


--
-- Name: flights pk_flights; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.flights
    ADD CONSTRAINT pk_flights PRIMARY KEY (id);


--
-- Name: job_orders pk_job_orders; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.job_orders
    ADD CONSTRAINT pk_job_orders PRIMARY KEY (id);


--
-- Name: lead_activities pk_lead_activities; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.lead_activities
    ADD CONSTRAINT pk_lead_activities PRIMARY KEY (id);


--
-- Name: leads pk_leads; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT pk_leads PRIMARY KEY (id);


--
-- Name: loans pk_loans; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT pk_loans PRIMARY KEY (id);


--
-- Name: messages pk_messages; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT pk_messages PRIMARY KEY (id);


--
-- Name: notification_preferences pk_notification_preferences; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.notification_preferences
    ADD CONSTRAINT pk_notification_preferences PRIMARY KEY (id);


--
-- Name: notifications pk_notifications; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT pk_notifications PRIMARY KEY (id);


--
-- Name: payments pk_payments; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT pk_payments PRIMARY KEY (id);


--
-- Name: permissions pk_permissions; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT pk_permissions PRIMARY KEY (id);


--
-- Name: receipts pk_receipts; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT pk_receipts PRIMARY KEY (id);


--
-- Name: role_permissions pk_role_permissions; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT pk_role_permissions PRIMARY KEY (role_id, permission_id);


--
-- Name: roles pk_roles; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT pk_roles PRIMARY KEY (id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (id);


--
-- Name: visas pk_visas; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.visas
    ADD CONSTRAINT pk_visas PRIMARY KEY (id);


--
-- Name: workflow_step_records pk_workflow_step_records; Type: CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.workflow_step_records
    ADD CONSTRAINT pk_workflow_step_records PRIMARY KEY (id);


--
-- Name: ix_hangfire_counter_expireat; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_counter_expireat ON hangfire.counter USING btree (expireat);


--
-- Name: ix_hangfire_counter_key; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_counter_key ON hangfire.counter USING btree (key);


--
-- Name: ix_hangfire_hash_expireat; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_hash_expireat ON hangfire.hash USING btree (expireat);


--
-- Name: ix_hangfire_job_expireat; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_job_expireat ON hangfire.job USING btree (expireat);


--
-- Name: ix_hangfire_job_statename; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_job_statename ON hangfire.job USING btree (statename);


--
-- Name: ix_hangfire_job_statename_is_not_null; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_job_statename_is_not_null ON hangfire.job USING btree (statename) INCLUDE (id) WHERE (statename IS NOT NULL);


--
-- Name: ix_hangfire_jobparameter_jobidandname; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_jobparameter_jobidandname ON hangfire.jobparameter USING btree (jobid, name);


--
-- Name: ix_hangfire_jobqueue_fetchedat_queue_jobid; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_jobqueue_fetchedat_queue_jobid ON hangfire.jobqueue USING btree (fetchedat NULLS FIRST, queue, jobid);


--
-- Name: ix_hangfire_jobqueue_jobidandqueue; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_jobqueue_jobidandqueue ON hangfire.jobqueue USING btree (jobid, queue);


--
-- Name: ix_hangfire_jobqueue_queueandfetchedat; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_jobqueue_queueandfetchedat ON hangfire.jobqueue USING btree (queue, fetchedat);


--
-- Name: ix_hangfire_list_expireat; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_list_expireat ON hangfire.list USING btree (expireat);


--
-- Name: ix_hangfire_set_expireat; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_set_expireat ON hangfire.set USING btree (expireat);


--
-- Name: ix_hangfire_set_key_score; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_set_key_score ON hangfire.set USING btree (key, score);


--
-- Name: ix_hangfire_state_jobid; Type: INDEX; Schema: hangfire; Owner: polymind
--

CREATE INDEX ix_hangfire_state_jobid ON hangfire.state USING btree (jobid);


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX "EmailIndex" ON public.users USING btree (normalized_email);


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public.roles USING btree (normalized_name);


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX "UserNameIndex" ON public.users USING btree (normalized_user_name);


--
-- Name: ix_agent_commission_configs_agent_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_agent_commission_configs_agent_id ON public.agent_commission_configs USING btree (agent_id);


--
-- Name: ix_agent_commissions_agent_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_agent_commissions_agent_id ON public.agent_commissions USING btree (agent_id);


--
-- Name: ix_agent_commissions_status; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_agent_commissions_status ON public.agent_commissions USING btree (status);


--
-- Name: ix_agents_code; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_agents_code ON public.agents USING btree (code);


--
-- Name: ix_asp_net_role_claims_role_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_asp_net_role_claims_role_id ON public."AspNetRoleClaims" USING btree (role_id);


--
-- Name: ix_asp_net_user_claims_user_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_asp_net_user_claims_user_id ON public."AspNetUserClaims" USING btree (user_id);


--
-- Name: ix_asp_net_user_logins_user_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_asp_net_user_logins_user_id ON public."AspNetUserLogins" USING btree (user_id);


--
-- Name: ix_asp_net_user_roles_role_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_asp_net_user_roles_role_id ON public."AspNetUserRoles" USING btree (role_id);


--
-- Name: ix_audit_logs_resource_resource_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_audit_logs_resource_resource_id ON public.audit_logs USING btree (resource, resource_id);


--
-- Name: ix_audit_logs_user_id_created_at; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_audit_logs_user_id_created_at ON public.audit_logs USING btree (user_id, created_at);


--
-- Name: ix_candidate_documents_candidate_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_candidate_documents_candidate_id ON public.candidate_documents USING btree (candidate_id);


--
-- Name: ix_candidate_job_orders_candidate_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_candidate_job_orders_candidate_id ON public.candidate_job_orders USING btree (candidate_id);


--
-- Name: ix_candidate_job_orders_job_order_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_candidate_job_orders_job_order_id ON public.candidate_job_orders USING btree (job_order_id);


--
-- Name: ix_candidates_cccd_number; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_candidates_cccd_number ON public.candidates USING btree (cccd_number);


--
-- Name: ix_candidates_code; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_candidates_code ON public.candidates USING btree (code);


--
-- Name: ix_candidates_consultant_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_candidates_consultant_id ON public.candidates USING btree (consultant_id);


--
-- Name: ix_candidates_passport_number; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_candidates_passport_number ON public.candidates USING btree (passport_number);


--
-- Name: ix_candidates_phone; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_candidates_phone ON public.candidates USING btree (phone);


--
-- Name: ix_collaborators_agent_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_collaborators_agent_id ON public.collaborators USING btree (agent_id);


--
-- Name: ix_collaborators_code; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_collaborators_code ON public.collaborators USING btree (code);


--
-- Name: ix_document_versions_document_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_document_versions_document_id ON public.document_versions USING btree (document_id);


--
-- Name: ix_expenses_code; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_expenses_code ON public.expenses USING btree (code);


--
-- Name: ix_job_orders_code; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_job_orders_code ON public.job_orders USING btree (code);


--
-- Name: ix_lead_activities_lead_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_lead_activities_lead_id ON public.lead_activities USING btree (lead_id);


--
-- Name: ix_leads_assigned_to; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_leads_assigned_to ON public.leads USING btree (assigned_to);


--
-- Name: ix_leads_cccd; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_leads_cccd ON public.leads USING btree (cccd);


--
-- Name: ix_leads_code; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_leads_code ON public.leads USING btree (code);


--
-- Name: ix_leads_collaborator_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_leads_collaborator_id ON public.leads USING btree (collaborator_id);


--
-- Name: ix_leads_created_at; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_leads_created_at ON public.leads USING btree (created_at);


--
-- Name: ix_leads_phone; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_leads_phone ON public.leads USING btree (phone);


--
-- Name: ix_leads_source; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_leads_source ON public.leads USING btree (source);


--
-- Name: ix_leads_status; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_leads_status ON public.leads USING btree (status);


--
-- Name: ix_loans_candidate_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_loans_candidate_id ON public.loans USING btree (candidate_id);


--
-- Name: ix_loans_code; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_loans_code ON public.loans USING btree (code);


--
-- Name: ix_loans_status; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_loans_status ON public.loans USING btree (status);


--
-- Name: ix_messages_recipient_id_is_read; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_messages_recipient_id_is_read ON public.messages USING btree (recipient_id, is_read);


--
-- Name: ix_messages_sender_id_recipient_id_created_at; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_messages_sender_id_recipient_id_created_at ON public.messages USING btree (sender_id, recipient_id, created_at);


--
-- Name: ix_notification_preferences_user_id_type; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_notification_preferences_user_id_type ON public.notification_preferences USING btree (user_id, type);


--
-- Name: ix_notifications_sent_at_channel; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_notifications_sent_at_channel ON public.notifications USING btree (sent_at, channel);


--
-- Name: ix_notifications_user_id_type_reference_id_channel; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_notifications_user_id_type_reference_id_channel ON public.notifications USING btree (user_id, type, reference_id, channel);


--
-- Name: ix_payments_candidate_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_payments_candidate_id ON public.payments USING btree (candidate_id);


--
-- Name: ix_payments_code; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_payments_code ON public.payments USING btree (code);


--
-- Name: ix_payments_status; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_payments_status ON public.payments USING btree (status);


--
-- Name: ix_permissions_name; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_permissions_name ON public.permissions USING btree (name);


--
-- Name: ix_receipts_code; Type: INDEX; Schema: public; Owner: polymind
--

CREATE UNIQUE INDEX ix_receipts_code ON public.receipts USING btree (code);


--
-- Name: ix_receipts_expense_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_receipts_expense_id ON public.receipts USING btree (expense_id);


--
-- Name: ix_receipts_payment_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_receipts_payment_id ON public.receipts USING btree (payment_id);


--
-- Name: ix_role_permissions_permission_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_role_permissions_permission_id ON public.role_permissions USING btree (permission_id);


--
-- Name: ix_workflow_step_records_candidate_job_order_id; Type: INDEX; Schema: public; Owner: polymind
--

CREATE INDEX ix_workflow_step_records_candidate_job_order_id ON public.workflow_step_records USING btree (candidate_job_order_id);


--
-- Name: jobparameter jobparameter_jobid_fkey; Type: FK CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.jobparameter
    ADD CONSTRAINT jobparameter_jobid_fkey FOREIGN KEY (jobid) REFERENCES hangfire.job(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: state state_jobid_fkey; Type: FK CONSTRAINT; Schema: hangfire; Owner: polymind
--

ALTER TABLE ONLY hangfire.state
    ADD CONSTRAINT state_jobid_fkey FOREIGN KEY (jobid) REFERENCES hangfire.job(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: agent_commission_configs fk_agent_commission_configs_agents_agent_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.agent_commission_configs
    ADD CONSTRAINT fk_agent_commission_configs_agents_agent_id FOREIGN KEY (agent_id) REFERENCES public.agents(id) ON DELETE CASCADE;


--
-- Name: agent_commissions fk_agent_commissions_agents_agent_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.agent_commissions
    ADD CONSTRAINT fk_agent_commissions_agents_agent_id FOREIGN KEY (agent_id) REFERENCES public.agents(id) ON DELETE CASCADE;


--
-- Name: AspNetRoleClaims fk_asp_net_role_claims_asp_net_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT fk_asp_net_role_claims_asp_net_roles_role_id FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: AspNetUserClaims fk_asp_net_user_claims_asp_net_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT fk_asp_net_user_claims_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: AspNetUserLogins fk_asp_net_user_logins_asp_net_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT fk_asp_net_user_logins_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: AspNetUserRoles fk_asp_net_user_roles_asp_net_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT fk_asp_net_user_roles_asp_net_roles_role_id FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: AspNetUserRoles fk_asp_net_user_roles_asp_net_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT fk_asp_net_user_roles_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: AspNetUserTokens fk_asp_net_user_tokens_asp_net_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT fk_asp_net_user_tokens_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: candidate_documents fk_candidate_documents_candidates_candidate_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.candidate_documents
    ADD CONSTRAINT fk_candidate_documents_candidates_candidate_id FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON DELETE CASCADE;


--
-- Name: candidate_job_orders fk_candidate_job_orders_candidates_candidate_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.candidate_job_orders
    ADD CONSTRAINT fk_candidate_job_orders_candidates_candidate_id FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON DELETE CASCADE;


--
-- Name: candidate_job_orders fk_candidate_job_orders_job_orders_job_order_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.candidate_job_orders
    ADD CONSTRAINT fk_candidate_job_orders_job_orders_job_order_id FOREIGN KEY (job_order_id) REFERENCES public.job_orders(id) ON DELETE CASCADE;


--
-- Name: collaborators fk_collaborators_agents_agent_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.collaborators
    ADD CONSTRAINT fk_collaborators_agents_agent_id FOREIGN KEY (agent_id) REFERENCES public.agents(id) ON DELETE CASCADE;


--
-- Name: document_versions fk_document_versions_candidate_documents_document_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT fk_document_versions_candidate_documents_document_id FOREIGN KEY (document_id) REFERENCES public.candidate_documents(id) ON DELETE CASCADE;


--
-- Name: lead_activities fk_lead_activities_leads_lead_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.lead_activities
    ADD CONSTRAINT fk_lead_activities_leads_lead_id FOREIGN KEY (lead_id) REFERENCES public.leads(id) ON DELETE CASCADE;


--
-- Name: role_permissions fk_role_permissions_permissions_permission_id; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT fk_role_permissions_permissions_permission_id FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: workflow_step_records fk_workflow_step_records_candidate_job_orders_candidate_job_or; Type: FK CONSTRAINT; Schema: public; Owner: polymind
--

ALTER TABLE ONLY public.workflow_step_records
    ADD CONSTRAINT fk_workflow_step_records_candidate_job_orders_candidate_job_or FOREIGN KEY (candidate_job_order_id) REFERENCES public.candidate_job_orders(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 5IjYNIFYfLIAETiJqpBGegjuzSvIiy83HxBkmfJqrdFfyHFWcEWbot5lf2b0DcW

